<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!--Shopping-->
<% @products.each.slice(2) do |p| %>
  <%= render partial:'shopping' %>
<% end %>
<!--End of Shopping-->
<div id="products">
  <% @products.each do |product| %>
    <%#= render product %>
    <p>
      <%#= link_to "Show this product", product %>
      <%= link_to product.name, product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>

</html>
