<%= form_with model: [@product, productimage] do |form| %>
  <div>
    <%= form.label :add_image, style: "display: block" %>
    <%= form.file_field :image %><%= form.submit "save" %>
  </div>

<% end %>
