<div id="<%= dom_id productimage %>">
 

  <p>
    <strong>Product:</strong>
    <%= productimage.product_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src= "<%= productimage.image %>">
  </p>

</div>
