<h1>Editing productimage</h1>

<%= render "form", productimage: @productimage %>

<br>

<div>
  <%#= link_to "Show this productimage", @productimage %> |
  <%= link_to "Back to productimages", product_productimages_path %>
</div>
